// bower:scss
// endbower
$auto-complete-width:200px !default;
$auto-complete-bgColor:#FFFFFF !default;
$auto-complete-input-height:28px !default;
$auto-complete-input-line-height:30px !default;

div.auto-complete-input{
  width:$auto-complete-width;
  > input[type='text']{
    width:100%;
    line-height: $auto-complete-input-line-height;
    height: $auto-complete-input-height;
    box-sizing: border-box;
    padding:0 10px;
  }
}
div.auto-complete-options{
  position: absolute;
  top: 95px;
  left: 8px;
  box-shadow: 0px 4px 10px #CCC;
  -webkit-box-shadow: 0px 4px 10px #CCC;
  -moz-box-shadow: 0px 4px 10px #CCC;
  z-index: 9999;
  background: #FFFFFF;
  >.loading{
    width:100%;
    line-height: 32px;
    text-align: center;
  }
  > ul{
    width:100%;
    list-style-type: none;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #DDDDDD;
    > li > a{
      box-sizing: border-box;
      display: inline-block;
      line-height: 32px;
      width: 100%;
      cursor: pointer;
      padding:0 10px;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      &:hover{
        background: #F5F5F5;
      }
    }
  }
}

/* 滚动条样式 */
.scrollbar{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.scrollbar::-webkit-scrollbar {
  height:8px;
  overflow:visible;
  width:8px;
  -webkit-transition:all linear 0.1s;
  transition:all linear 0.1s;
  -moz-transition:all linear 0.1s;
  -o-transition:all linear 0.1s;
}

.scrollbar::-webkit-scrollbar-button {
  height:0;
  width:0;
  display: none;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color:rgba(0,0,0,.2);
  min-height:28px;
  border-radius: 5px;
}

.scrollbar.dark::-webkit-scrollbar-thumb{
  background-color:rgba(255,255,255,.1);
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color:#7c7c7c;
}

.scrollbar::-webkit-scrollbar-corner {
  height: 0;
  width: 0;
  display: none;
}
.scrollbar::-webkit-resizer{
  height: 0;
  width: 0;
  display: none;
}